.result {
  height: 60px;
  background-color: rgb(245, 208, 208);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  display: block;
  background-color: #bbb;
  font-family: 'Courier New', Courier, monospace;
}


button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(223, 200, 250);
}