@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:rgb(179, 170, 170);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 250px;
  height: 390px;
  padding: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #111;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.display {
  text-align: right;
  background-color: rgb(248, 207, 214);
  padding: 20px 10px;
  width: 100%;
  height: 60px;
  font-size: 36px;
  font-family: 'Noto Sans JP', sans-serif;
}
button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

button:active {
  transform: scale(0.9);
}

button:hover {
  opacity: 0.9;

}

.nums-container {
  width: 75%;

}

.operations-container {
  width: 25%;

}


button.ac {
  margin-right: 50%;
}

button.orange {
  background-color: #EE9406;
  color: white;
}
button.dark-grey {
  background-color: #323232;
  color: white;
}
button.light-grey {
  background-color: A5A5A5;

}
button.big-v {
  border-radius: 50px;
  height: 110px;
  

}
button.big-h {
  border-radius: 50px;
  width: 110px;
  
}